<template>
  <div class="game">

    <template v-if="!player">
      <h3>Wie ben jij?</h3>
      <input v-model="playername" v-on:keyup.enter="joinGame" />
    </template>
    
    <template v-else-if="game.state == 'start'">
      <p>Let's play Oh hell!</p>
      <p>{{ players.length }} players</p>
      <p v-if="players.length > 2 && players.length < 9">
        <button @click="startGame">Start</button>
      </p>
      <p v-else>
        We need 3 to 8 players...
      </p>
      <ol>
        <li v-for="(p) of players" v-bind:key="p.id">
          {{ p.name }} (<a @click="kickPlayer(p)">kick</a>)
        </li>
      </ol>
    </template>

    <template v-else-if="game.state == 'started'">
    </template>

    <template v-else>
      <p>Shit's wrong. Gamestate <code>{{ game.state }}</code> not known.</p>
      <code>{{ game }}</code>
    </template>

    <code>
      {{ game }}<br />
      {{ yourTurn ? 'Your turn' : 'Not your turn' }}
    </code>

  </div>
</template>

<script>
  import { db, fun } from '@/firebase'

  export default {
    name: 'Game',
    props: ['gameid'],
    data: function() {
      return {
        playername: this.$cookies.get('playername'),
        players: [],
        cards: [],
        player: null,
        game: null,
      }
    },
    computed: {
      yourTurn: function () { return this.game && this.game.currentplayer && this.player.id && this.game.currentplayer == this.player.id }
    },
    mounted() {
      const gameref = db.collection('game').doc(this.gameid) 
      const playerid = this.$cookies.get('playerid')
      this.$bind('players', gameref.collection('player'))
      this.$bind('cards',   gameref.collection('card'))
      this.$bind('game',    gameref)
      if ( playerid ) {
        this.$bind('player',gameref.collection('player').doc(playerid))
      }
    },
    methods: {
      async joinGame() {
        // Join as this.playername
        if (this.game.state != 'start' ) { return }
        const res = await db.collection('game').doc(this.game.id).collection('player').add({
          name: this.playername
        })
        this.$cookies.set('playername', this.playername, '7d')
        this.$cookies.set('playerid', res.id, '1d')
        this.$bind('player', db.collection('game').doc(this.game.id).collection('player').doc(res.id))
      },
      kickPlayer(p) {
        // remove a player from the players list
        if (this.game.state != 'start' ) { return }
        db.collection('game').doc(this.game.id).collection('player').doc(p.id).delete()
      },
      startGame() {
        fun.httpsCallable('startGame')({gameid: this.gameid});
      },
    },
  }
</script>
