<template>
  <div id="app">
    <div v-if="game">
      <h2>Playing {{ game.data().name }}</h2>
      <Game :gameid="game.id" />
      <a href="/">Back to home</a>
    </div>
    <div v-else>
      <h2>Join a game</h2>
      <ul>
        <li v-for="(game) of games" v-bind:key="game.id">
          <a v-bind:href="game.id">{{ game.name }}</a>
          (<a @click="deleteGame(game)">del</a>)
        </li>
      </ul>
      <h2>Create a game</h2>
      <p>
        <input v-model="gamename" v-on:keyup.enter="newGame"/><br />
        <button @click="newGame">Start {{ gamename ? gamename : 'a game' }}!</button>
      </p>
    </div>
  </div>
</template>

<script>
  import Game from '@/components/Game'
  import { db } from '@/firebase'

  export default {
    name: 'App',
    components: {
      Game
    },
    data: function() {
      return {
        game: null,
        players: [],
        cards: [],
        gamename: null,
        games: [],
      }
    },
    mounted() {
      const url = new URL(window.location)
      const gameid = url.pathname.substring(1)
      if ( gameid ) {
        db.collection('game')
          .doc(gameid)
          .get()
          .then( doc => {
            if (doc.exists) {
              this.game = doc
            }
            else {
              window.location = '/'
            }
          } )
      }
    },
    firestore: {
      games: db.collection('game'),
    },
    methods: {
      async newGame() {
        const res = await db.collection('game').add({
          name: this.gamename,
          state: 'start',
        })
        window.location = '/' + res.id
      },
      deleteGame(game) {
        db.collection('game').doc(game.id).delete()
      },
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
